.robot-detail {
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
    padding: 15px;
    width: 300px;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.robot-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.robot-image {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 15px;
    padding: 5px;
    margin-left: 90px;
}

.robot-details {
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
}

.robot-details p {
    margin: 5px 0;
}

.robot-details strong {
    font-weight: bold;
}

