img {
    margin-top: 20px; 
    display: block;   
    width: 500px;
    height: 200px;
}


.container {
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
    justify-content: center;
}

.navbar1{
    justify-content: center;
    margin-left: 200px;
    justify-items: center;
    justify-self: center;
}


h1{
    width: 700px;
}